<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.jonas.jarvis.coder-bridge</string>
  <key>ProgramArguments</key>
  <array>
    <string>/bin/bash</string>
    <string>/Users/jonaskroeger/JARVIS/start_coder_bridge.sh</string>
  </array>
  <key>WorkingDirectory</key>
  <string>/Users/jonaskroeger/JARVIS</string>
  <key>RunAtLoad</key>
  <true/>
  <key>KeepAlive</key>
  <false/>
  <key>StandardOutPath</key>
  <string>/Users/jonaskroeger/JARVIS/coder-bridge-launchd.log</string>
  <key>StandardErrorPath</key>
  <string>/Users/jonaskroeger/JARVIS/coder-bridge-launchd.log</string>
  <key>EnvironmentVariables</key>
  <dict>
    <key>CODER_BRIDGE_MODE</key>
    <string>live</string>
    <key>CODER_BRIDGE_TIMEOUT</key>
    <string>90</string>
    <key>CODER_BRIDGE_AUTOFULFILL</key>
    <string>0</string>
    <key>CODER_BRIDGE_ECHO_WORKER</key>
    <string>0</string>
    <key>CODER_BRIDGE_POLL</key>
    <string>0.1</string>
    <key>CODER_BRIDGE_OUTBOX_POLL</key>
    <string>0.05</string>
    <key>PATH</key>
    <string>/opt/homebrew/bin:/usr/local/bin:/usr/bin:/bin</string>
  </dict>
</dict>
</plist>
